# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Publish Npm Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'

      - name: Install Node dependencies
        run: |
          npm i -g pnpm @antfu/ni
          ni

      - name: Build
        run: |
          nr build

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
